   .main {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 4rem;
    margin: 2rem 2rem;
   }

  // .subjectDetails{
  //     width: 80%;
  //     button {
  //       padding: 2px;
  //     }
  //   }
  .no-border-top {
     border-top: none;
  }