<b>Student List</b>
<div class="detailedView">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID#</th>
              <th scope="col">Full name</th>
              <th scope="col">Email Address</th>
              <th scope="col">Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of studentList, let i=index ">
              <td>{{ s._id }}</td>
              <td>{{ s.fullName}}</td>
              <td>{{ s.emailAdd}}</td>
              <td><button class="btn btn-outline-danger" (click)="deleteStudent(s._id)">Delete</button> 
                <button class="btn btn-outline-primary" (click)="updateStudent(s)">Update</button></td>
    
            </tr>
          </tbody>
        </table>
      </div>
